html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    overflow-x: hidden;
    background-color: #E1E1E1 !important;
    background-image: url(img/pipes.png) !important;
    font-family: 'Raleway', sans-serif !important;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
    position: relative;
    top: 10px;
    font-size: 15px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding-top: 7px;
    padding-right: 10px;
    color: white;
    font-size: 1.2em;
    float: right;
    position: relative;
    right: 15px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 18px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit[type=submit] {
    font-size: 24px;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #66acee;
    color: #FFFFFF;
    transition: 800ms ease all;
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
}

.formSubmit[type=submit]:hover {
    cursor: pointer;
    background-color: #E1E1E1;
    color: #66acee;
}


.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
    cursor: pointer;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.taglineDiv {
    text-align: center;
    background-color:  #55acee;
    position: relative;
    top: 10px;
    width: 100%;
    color: white;
}

.taglineDiv h1 {
    position: relative;
    bottom: 15px;
    font-size: 35px;
}

.taglineDiv h3{
    position: relative;
    bottom: 15px;
    font-style: italic;
    font-size: 20px;
}

#loginInfo {
    text-align: center;
    background-color: #E1E1E1;
    position: relative;
    bottom: 22px;
    margin: 0 auto;
}

#accountStart {
    text-align: center;
}

#topRow label {
    font-weight: bold;
    display: block;
    position: relative;
    top: 10px;
}

#bottomRow label {
    font-weight: bold;
    display: block;
    position: relative;
    top: 10px;
}

.sockClass {
    border: 1px solid black;
    width: 300px;
    height: 250px;
}

.sockClass:hover {
    cursor: pointer;
    opacity: 0.7;
}

#scarySock {
    display: inline-block;
    position: relative;
    padding-right: 20px;
}

#crazySock {
    display: inline-block;
    position: relative;
    padding-right: 20px;
}

#funnySock {
    display: inline-block;
    position: relative;
    padding-right: 20px;
}

#coolSock {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    top: 20px;
}

#superSock {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    top: 20px;
}

#normalSock {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    top: 20px;
}

#accountInfo {
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #E1E1E1;
    text-align: center;
}

#accountInfo h1 {
    font-size: 34px;
}

#accountInfo h2 {
    text-align: left;
    position: relative;
    color: white;
    background-color: darkgrey;
    width: 100%;
}

#accountInfo p {
    font-size: 24px;
    text-align: left;
    padding-left: 35%;
}

#searchInfo {
    position: relative;
    text-align: center;
}

#searchBar {
    width: 300px;
    height: 30px;
}

.searchSubmit {
    width: 40px;
    height: 32px;
    position: relative;
    top: 10px;
    padding-left: 10px;
}

.searchSubmit:hover {
    cursor: pointer;
}

#displayContent {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 40px;
}

#displayContent img {
    width: 100px;
    height: 100px;
}

#displayContent img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.imgContentDiv {
    width: 125px;
    height: 125px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
    float: left;
}

.imgContentDiv h5 {
    text-align: center;
    font-size: 13px;
    position: relative;
    top: 3px;
}

.imgContentDiv img {
    border: 1px solid black;
}

#topRowSocks {
    height: 145px;
}

#secondRowSocks {
    height: 145px;
}

#thirdRowSocks {
    height: 145px;
}

#fourthRowSocks {
    height: 145px;
}

#bottomRowSocks {
    height: 145px;
}

#hiddenContent {
    display: none;
}

#errorMessage {
    display: none;
    position: relative;
    z-index: 200;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    top: 15px;
}

#errMessage {
    font-size: 16px;
    font-weight: bold;
    color: red;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

#passSubmit {
    width: 150px;
}

.passForm {
    margin: 10px;
    position: relative;
    width: 250px;
    display: inline-block;
}

.passForm label {
    font-size: 15px;
    margin: 10px;
}

.passForm input {
    display: block;
    margin: 0 auto;
}

.passForm[type=submit] {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #66acee;
    color: #FFFFFF;
    transition: 800ms ease all;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
}

.passForm[type=submit]:hover {
    cursor: pointer;
    background-color: #E1E1E1;
    color: #66acee;
}

#fundsSubmit {
    width: 150px;
    position: relative;
}

.fundsForm {
    position: relative;
    width: 250px;
    display: inline-block;
}

.fundsForm label {
    font-size: 15px;
    margin: 10px;
}

.fundsForm input {
    display: block;
    margin: 0 auto;
    position: relative;
}

.fundsForm[type=submit] {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #66acee;
    color: #FFFFFF;
    transition: 800ms ease all;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
}

.fundsForm[type=submit]:hover {
    cursor: pointer;
    background-color: #E1E1E1;
    color: #66acee;
}

#notFoundPage {
    margin: auto;
    padding: 150px;
    text-align: center;
    font-size: 50px;
}

#notFoundLink {
    text-align: center;
    display: block;
    font-size: 20px;
    position: relative;
    bottom: 100px;
}

#buyPage {
    background-color: #E1E1E1;
    position: relative;
    bottom: 22px;
    height: 710px;
}

#sockInfo {
    width: 300px;
    display: inline-block;
    position: relative;
    left: 140px;
    top: 25px;
}
#sockName {
    font-weight: bold;
    position: relative;
}

#sockCategory {
    position: relative;
    top: 18px;
    text-align: center;
    font-size: 20px;
}

#sockPrice {
    position: relative;
    font-weight: bold;
}

#buyInfo img {
    width: 225px;
    height: 225px;
    border: 1px solid black;
    position: relative;
    top: 12px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#sockBuy {
    border: 1px solid black;
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    background-color: white;
    top: 45px;
    left: 300px;
}

.buyForm { 
    font-size: 24px;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #66acee;
    color: #FFFFFF;
    transition: 800ms ease all;
    width: 130px;
    height: 50px;
    border: none;
    outline: none;
}

.buyForm:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #66acee;
}


#recommend {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

#similarSocks {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 85px;
}

#similarSocks h4 {
    position: relative;
    font-weight: bold;
    top: 17px;
    text-align: center;
}

#similarSocks h5 {
    font-size: 18px;
    position: relative;
    top: 22px;
    text-align: center;
}

#similarSocks img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    top: 15px;
}

#sock1 {
    display: inline-block;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 10px;
}

#sock2 {
    display: inline-block;
    padding-right: 75px;
    padding-left: 75px;
    margin: 0 auto;
}

#sock3 {
    display: inline-block;
    margin: 0 auto;
    padding-right: 75px;
    padding-left: 75px;
}

#sock1:hover {
    cursor: pointer;
    opacity: 0.7;
}

#sock2:hover {
    cursor: pointer;
    opacity: 0.7;
}

#sock3:hover {
    cursor: pointer;
    opacity: 0.7;
}

#noResults {
    visibility: hidden;
    text-align: center;
    position: relative;
    bottom: 670px;
    right: 10px;
}

#confirmStart {
    text-align: center;
}

#confirmInfo {
    background-color: #E1E1E1;
    display: block;
    position: relative;
    bottom: 22px;
}

#backBrowsingTab {
    display: inline-block;
    padding: 50px;
}

#myCollectionTab {
    display: inline-block;
    padding: 50px;
}

#myCollectionTab img {
    transform: rotate(180deg);
}

#confirmInfo img {
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

#searchPageDiv {
    background-color: #E1E1E1;
    position: relative;
    bottom: 17px;
    padding-top: 17px;
    height: 670px;
}

#searchStart {
    background-color: #E1E1E1;
}

#topRow {
    position: relative;
    left: 5px;
    top: 50px;
}

#bottomRow {
    position: relative;
    left: 5px;
    top: 50px;
}

#loginW {
    background-color: #E1E1E1;
}

#signupW {
    background-color: #E1E1E1;
}

#infoOne {
    display: none;
}

#infoTwo {
   display: none;
}

#infoThree {
    display: none;
}

#accountInfo h2:hover {
    cursor: pointer;
}

#collectionStart {
    background-color: #E1E1E1;
}

#collectionInfo {
    position: relative;
    text-align: center;
    z-index: 10;
    top: 6px;
}

#collectionPageDiv {
    background-color: #E1E1E1;
    position: relative;
    bottom: 17px;
    padding-top: 17px;
    height: 670px;
}

#collectionPageDiv h3 {
    text-align: center;
}

#collectionContent {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 40px;
}

#collectionContent img {
    width: 100px;
    height: 100px;
}

.imgCollectDiv {
    width: 125px;
    height: 125px;
    display: none;
    margin-right: 20px;
    margin-top: 5px;
    float: left;
}

.imgCollectDiv h5 {
    text-align: center;
    font-size: 13px;
    position: relative;
    top: 3px;
}

.imgCollectDiv img {
    border: 1px solid black;
}

@media only screen and (max-width: 1200px) {
    #buyPage {
        height: 1050px;
    }
    #sockBuy {
        left: 120px;
    }
    #sockInfo {
        left: 80px;
    }
    #collectionPageDiv {
        height: 850px;
    }
}
@media only screen and (max-width: 995px) {
    #searchPageDiv {
        height: 1050px;
    }
    #collectionPageDiv {
        height: 1250px;
    }
    #buyPage {
        height: 1450px;
    }
    #sockBuy {
        left: 40px;
    }
    #sockInfo {
        left: 20px;
    }
}
@media only screen and (max-width: 793px) {
    #searchPageDiv {
        height: 1310px;
    } 
    #collectionPageDiv {
        height: 1610px;
    } 
    #sockBuy {
        left: 20px;
    }
}
@media only screen and (max-width: 600px) {
    #searchPageDiv {
        height: 2000px;
    }
    #collectionPageDiv {
        height: 2360px;
    }
}